
<div class='wrapper-menu'>
  <ul id='menu'>
    <li class="li-menu">
      <a href="/#page1">Shampoo's</a>
    </li>
    <li class="li-menu">
      <a href="/#page2">Acondicionador</a>
    </li>
    <li class="li-menu">
      <a href="/#page3">Spray's</a>
    </li>
    <li class="li-menu">
      <a href="/#page4">Cremas</a>
    </li>
    <li class="li-menu li-menu-larger">
      <a href="/#page5">Cremas Acondicionador</a>
    </li>
    <li class="li-menu">
      <a href="/#page6">Manos y Uñas</a>
    </li>
  </ul>
</div>

<div class="bg-header-post">
<%= link_to '/' do %>
  <%# <%= image_tag "logo-manentail@2x.png", class: 'logo-menu' %1> %>
  <%# <%= image_tag "logo-manentail@2x.png", class: 'logo-menu' %1> %>
  <%# <%= image_tag "logo-manentail@2x.png", class: 'logo-menu' %1> %>
  <%# <%= image_tag "logo-manentail@2x.png", class: 'logo-menu' %1> %>
  <%= image_tag "http://i.imgur.com/8fQ3upA.jpg", class: 'logo-menu' %>
<% end %>
</div>


<div class="header-title" style="background-image: url('<%= @post.featured_media.file.url %>')">
   <h2 class="h2-post"><%= @post.title %></h2>
</div>
<div class="container">
  <% if params[:preview] %>
    <div class="alert alert-info" role="alert">Currently viewing a preview of "<%= @post.title %>".</div>
  <% end %>
  
  <%# <div class="row"> %>
  <%#   <div class="col-md-12"> %>
  <%#     <1%# <h2 class="h2-post"><%= @post.title %2></h2> %1> %>
  <%#   </div> %>
  <%# </div> %>
  <div class="row">
    <div class="col-md-12 post-body">
      <%= @post.content.html_safe %>

      <%# <p><%= render 'storytime/blogs/tags', post: @post %1></p> %>
    </div>
    <br>
  </div>
  <%# <%= render_comments if @post.show_comments? && !@post.preview %1> %>
  <div class="acerca">
   <h2 class="h3-acerca">Acerca de Mane n Tail</h2>
   <p>Te invitamos a descubrir nuestros productos y nuestra historia. De boca en boca el secreto de la formula de nuestros productos para el cabello han dado la vuelta al mundo. <%=link_to "Ver Más", "/" %></p>
  </div>
</div>

