
<div class='wrapper-menu'>
  <ul id='menu'>
    <li>
      <a href="#">primer menu</a>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="bg-header-post">
<%= link_to '/' do %>
  <%= image_tag "logo-manentail@2x.png", class: 'logo-menu' %>
<% end %>
</div>


<div class="header-title" style="background-image: url('<%= @post.featured_media.file.url %>')">
   <h2 class="h2-post"><%= @post.title %></h2>
</div>
<div class="container">
  <% if params[:preview] %>
    <div class="alert alert-info" role="alert">Currently viewing a preview of "<%= @post.title %>".</div>
  <% end %>
  
  <%# <div class="row"> %>
  <%#   <div class="col-md-12"> %>
  <%#     <1%# <h2 class="h2-post"><%= @post.title %2></h2> %1> %>
  <%#   </div> %>
  <%# </div> %>
  <div class="row">
    <div class="col-md-12 post-body">
      <%= @post.content.html_safe %>

      <%# <p><%= render 'storytime/blogs/tags', post: @post %1></p> %>
    </div>
  </div>

  <%# <%= render_comments if @post.show_comments? && !@post.preview %1> %>
</div>
